---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Games">
    <main>
        <h1>Games</h1>
        <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:flex">
            <a
                href="/games/madlibs"
                class="text-base font-medium text-black hover:text-indigo-50"
            >
                Madlibs
            </a>
            <a
                href="/games/guess-the-number"
                class="text-base font-medium text-black hover:text-indigo-50"
            >
                Guess the Number
            </a>
            <a
                href="/games/circles-score"
                class="text-base font-medium text-black hover:text-indigo-50"
            >
                Circles Score
            </a>
        </div>
    </main>
</Layout>

<style>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    h1 {
        margin: 2rem 0;
    }

    main {
        margin: auto;
        padding: 1em;
        max-width: 80ch;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
