---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import BusinessCard from "../components/BusinessCard.astro";
import LaptopReminderBanner from "../components/LaptopReminderBanner";
---

<Layout title="About">
    <Container>
        <Sectionhead>
            <Fragment slot="title">About</Fragment>
            <Fragment slot="desc">The CodeF team!</Fragment>
        </Sectionhead>

        <div
            class="text-white flex flex-col gap-3 mx-auto max-w-4xl mt-16 max-w-2xl leading-8 text-xl text-left m-auto"
        >
            <img src="/codef.jpg" class="rounded-xl shadow-xl mb-10" />
            <p class="mb-2">
                Get prepared for an exhilarating journey! The CodeF program is
                all set to commence next Monday, bringing together our
                incredibly talented team and enthusiastic participants for an
                immersive and transformative experience. With state-of-the-art
                technology, expert guidance, and a supportive community, we're
                thrilled to unlock new possibilities and empower you to
                accomplish your coding aspirations.
            </p>
            <p class="text-lg font-bold mb-20 mt-10">
                Join us on our social platform, <a
                    href="https://rvu.codef.com"
                    target="_blank"
                    class="text-pink-300">RVU.CodeF</a
                >, where innovation meets community!
            </p>
            <LaptopReminderBanner />
            <LaptopReminderBanner msg="Starts 9:00am Monday 26th" />
            <LaptopReminderBanner msg="Ends Friday 30th 6pm or late" />
            <LaptopReminderBanner msg="At the RVU London offices" />
            <LaptopReminderBanner
                msg="Reach out on the WhatsApp group for up to date information"
            />
            <p class="max-w-2xl leading-7 text-md mt-20 m-auto text-left">
                The CodeF team consists of friendly professionals dedicated to
                delivering exceptional results. With expertise and passion, we
                strive to provide outstanding experiences and foster innovation
                and success.
            </p>
            <ul role="list" class="mt-20 text-left mb-40">
                <BusinessCard
                    name="Oscar Hilton"
                    profession="Primary Lecturer"
                    imageURL="/team/oscar.jpeg"
                />
                <BusinessCard
                    name="Hannah Lynn"
                    profession="Secondary Lecturer"
                    imageURL="/team/hannah.png"
                />
                <BusinessCard
                    name="Alvaro Iturmendi"
                    profession="Student Recruiter and Co-ordinator"
                    imageURL="/team/alvaro.jpeg"
                />
                <BusinessCard
                    name="Safiyah Raj"
                    imageURL="/team/safiyah.png"
                    profession="Engineer Liaison"
                />
                <BusinessCard
                    name="Kumsy Thomas"
                    profession="Product Manager"
                    imageURL="/team/kumsey.jpeg"
                />
                <BusinessCard
                    name="Molly Hudson"
                    imageURL="/team/molly.png"
                    profession="Internal Recruiter and Social Media Manager"
                />
            </ul>
            <div>
                <div class="container mx-auto px-4 mb-20">
                    <h4 class="text-2xl mb-10 block">
                        With Special Thanks To:
                    </h4>
                    <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Alex Curtis
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Christian Blunden
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Cristian Popa
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Ivo Evansstorrie
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            James Cohen
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Josh Benson
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Lila Walker
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Michael Raymond
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Rajeev Galaiya
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Simon Au
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Theo Alli
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Thomas Hennessy
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Tom Hare
                        </li>
                        <li
                            class="bg-gray-700 font-bold p-4 rounded shadow text-center"
                        >
                            Van Le
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </Container>
</Layout>

<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
