---
import Layout from "../layouts/Layout.astro";
import DayOne from "./day-one.astro";
import DayTwo from "./day-two.astro";
import Container from "../components/container.astro";
import Celebration from "../components/Celebration";
---

<style>
	p,
	h1,
	h2,
	h3,
	li,
	strong,
	span {
		line-height: 160%;
	}

	body,
	p,
	li {
		font-size: 1.1em;
	}
</style>
<Layout>
	<a href="https://www.rvu.co.uk/">
		<img
			style={{
				position: "fixed",
				right: 0,
				bottom: "50px",
				width: "35px",
			}}
			src="/rvu.png"
			alt="RVU"
		/>
	</a>
	<Container>
		<div class="container w-full">
			<a href="https://goo.gl/maps/AG2HtjNx2TFBkWtJA">
				<p
					class="bg-pink-300 p-3 text-sm font-mono rounded min-w-max inline-block shadow-md"
				>
					The Cooperage
					<br /> 5 Copper Row
					<br /> London <br /> SE1 2LH
				</p>
			</a>
		</div>
		<div class="bg-white rounded-xl mt-10 overflow-hidden mb-20">
			<DayOne />
			<DayTwo />
			<Celebration client:only />
		</div>
	</Container>
</Layout>
