---
import Layout from "../layouts/Layout.astro";
import CountdownTimer from "../components/CountdownTimer";
---

<Layout title="Day 1">
	<div
		class="fixed content-center top-0 left-0 right-0 bottom-0 z-50 bg-black"
	>
		<CountdownTimer client:load />
	</div>
</Layout>

<style>
	p,
	h1,
	h2,
	h3,
	li,
	strong,
	span {
		line-height: 180%;
	}

	body,
	p,
	li {
		font-size: 1.1em;
	}
</style>
