---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import CodeSandbox from "../components/CodeSandbox.astro";
import Button from "../components/Button";
import TextAndImage from "../components/TextAndImage.astro";
import List from "../components/List";
import Excalidraw from "../components/Excalidraw.astro";
import WavingHand from "../components/WavingHand.astro";
---

<Layout title="Day 1">
	<Container>
		<div class="max-w-3xl mx-auto p-8 text-gray-700">
			<h2 class="text-6xl my-80 leading-normal"><WavingHand /></br> Welcome to </br>your coding journey!</h2>

			<TextAndImage
				title="First up, Github"
				content="You're making a great decision by choosing to learn how to code. As part of your course, you'll need to set up a GitHub account. Why, you ask? Well, GitHub is an essential tool used by millions of developers around the globe. It's where you'll store your code projects, collaborate with other learners, and even contribute to open-source projects later on."
				imageURL="/day1/github-pages.jpg"
			/>

			<h3 class="text-xl font-semibold mb-5">
				Here's a simple, step-by-step guide to help you sign up for
				GitHub:
			</h3>

			<List
				items={[
					"Start the sign-up process: Click on the green 'Sign up' button located at the top-right corner of the page.",
					"Enter your details: You'll be directed to a new page. Here, you need to fill in your preferred username, email address, and a secure password.",
					"Enter your details: You'll be directed to a new page. Here, you need to fill in your preferred username, email address, and a secure password. 'Complete the security check: To confirm that you're not a robot, you'll be asked to complete a short task.",
					"Click that you have understood and are ready to go to github!",
				]}
			/>
			<Button />
			<!-- You can continue the list here -->
		</div>

		<div class="max-w-3xl mx-auto p-8 text-gray-700">
			<h3 class="text-xl font-semibold mb-2">
				Here's a YouTube video to help you if you are a visual learner!
			</h3>
			<div
				class="p-8 bg-gradient-to-r from-pink-400 via-red-500 to-yellow-500 text-white rounded-xl shadow-md my-5 w-auto inline-block"
			>
				<p class="text-lg leading-relaxed text-slate-500">
					<iframe
						width="560"
						height="315"
						src="https://www.youtube.com/embed/QUtk-Uuq9nE"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</p>
			</div>
			<Button client:load />
		</div>
	</Container>

	<div class="max-w-3xl mx-auto p-8 text-gray-700">
		<h2 class="text-2xl font-bold mb-4"></h2>

		<p class="mb-4"></p>

		<TextAndImage
			title="Signing up for CodeSandbox with your GitHub Account"
			content="CodeSandbox is an online code editor where you can create and share projects directly from your browser. It's especially great for web development, and supports a variety of different languages and frameworks. Here's a step-by-step guide on how to sign up for CodeSandbox using your new GitHub account:"
			imageURL="/day1/github-pages.jpg"
		/>

		<List
			items={[
				"Visit the CodeSandbox website: Open your browser and start the sign-up process.",
				"Click on the 'Sign In' button located at the top-right corner of the page.",
				"Choose GitHub as your sign-in method: You'll see different options for signing in. Click on the 'Continue with GitHub' button.",
				"Authorize CodeSandbox: If you're already logged into GitHub, you'll be asked to authorize CodeSandbox to access your GitHub account. Click 'Authorize CodeSandbox' to proceed. If you're not logged in, you'll be prompted to log into GitHub first.",
			]}
		/>

		<Button client:load />
		<!-- You can continue the list here -->
	</div>

	<div class="max-w-3xl mx-auto p-8 text-gray-700">
		<div class="max-w-3xl mx-auto p-8 text-gray-700">
			<h2 class="text-2xl font-bold mb-4">Write project plan</h2>
			<p class="mb-4">
				When we embark on a journey, we often have a map or a GPS to
				guide us to our destination. The same principle applies to web
				development: a project plan acts as our roadmap. It helps us
				understand where we are, where we're going, and how we'll get
				there.
			</p>
			<p class="p-4 mb-4">
				Here are some key reasons why a project plan is crucial in web
				development:
			</p>
			<ul class="list-disc pl-5 mb-4">
				<li class="p-4">
					<strong>Clear objectives:</strong> With a project plan, we establish
					clear objectives and deliverables. This means we always have
					a clear target to aim for, and we know what success looks like.
				</li>
				<li class="p-4">
					<strong>Efficient use of resources:</strong> A project plan helps
					us to organize our resources effectively. This could include
					our time, tools, or even team members if we are working in a
					group. By planning, we can avoid wasted effort and make the most
					of what we have.
				</li>
				<li class="p-4">
					<strong>Risk management:</strong> Every project faces potential
					obstacles and challenges. A project plan allows us to anticipate
					these risks and prepare for them. That way, if problems do arise,
					we're ready to tackle them and keep our project on track.
				</li>
				<li class="p-4">
					<strong>Progress tracking:</strong> A project plan gives us a
					way to measure our progress. As we tick off completed tasks and
					hit milestones, we can see how far we've come and how far we
					have left to go. This can be incredibly motivating and can help
					us to stay focused and committed to our project.
				</li>
			</ul>
			<p class="mb-4">
				So as you start your journey in web development, remember the
				importance of planning. Not only will it guide you along the
				way, but it will also equip you with vital skills that every web
				developer needs.
			</p>
		</div>
	</div>
	<Excalidraw />
	<div class="max-w-3xl mx-auto p-8 text-gray-700">
		<h2 class="text-2xl font-bold mb-4">Clone the CodeF Template</h2>

		<TextAndImage
			title="XXXX"
			content="XXXXX"
			imageURL="/day1/github-pages.jpg"
		/>
		<Button client:load />
	</div>
	<CodeSandbox basic sandbox="threejs-3d-text-forked-kxvpl4" />
</Layout>
<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12"></div>

<style>
	p,
	h1,
	h2,
	h3,
	li,
	strong,
	span {
		line-height: 180%;
	}

	body,
	p,
	li {
		font-size: 1.1em;
	}
</style>
