---
import CountdownTimer, { TypingComponent } from "../components/CountdownTimer";
import WireframedWebsites from "../components/Background";
---

<style>
	p,
	h1,
	h2,
	h3,
	li,
	strong,
	span {
		line-height: 180%;
	}

	body,
	p,
	li {
		font-size: 1.1em;
	}

	.my-heading {
		display: block;
		width: 100%;
		text-align: left;
		font-weight: lighter;
		color: transparent;
		background: linear-gradient(to right, #00ff00, #bf00ff);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: "Open Sans", sans-serif;
		font-size: 140px;
		animation: swirl 1s linear infinite;
	}

	@keyframes swirl {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
<div>
	<div class="m-auto w-full lg:w-2/3">
		<div class="lg:flex lg:flex-row justify-center lg:p-10">
			<div class="lg:flex p-10">
				<div>
					<div>
						<img src="/logo.png" alt="Logo" class="block h-16" />
						<h1 class="my-heading">
							<div class="block">2023</div>
						</h1>
						<CountdownTimer client:load />
						<p class="text-white mt-10 lg:max-w-md text-xl">
							Code F is an immersive web development program that
							promotes collaboration. It offers engaging lectures,
							interactive workshops, and hands-on coding
							experiences. The curriculum is comprehensive and
							covers HTML, CSS, and JavaScript. Participants will
							build projects, creating a fun and supportive
							learning environment.{" "}
							<a
								class="mt-10 block"
								href={"https://www.instagram.com/rvu.codef/"}
								target="_blank"
								rel="noopener noreferrer"
							>
								<span class="text-pink-300">Meet our team</span>
							</a>
						</p>
						<div class="mt-10 overflow-scroll max-w-lg">
							<div
								class="flex items-center justify-between bg-purple-100 px-2 py-1 rounded-t-md"
							>
								<div class="font-mono text-sm text-pink-800">
									cat syllabus.text
								</div>
							</div>
							<TypingComponent client:load />
						</div>
					</div>
				</div>
				<a href="https://goo.gl/maps/AG2HtjNx2TFBkWtJA">
					<div class="lg:mr-8 mt-5 mb-20 lg:float-right">
						<span class="lg:text-8xl lg:rotate-12">&#x1F5FA;</span>
						<p
							class="bg-pink-300 p-3 text-sm font-mono lg:animate-bounce rounded min-w-max inline-block lg:block shadow-md"
						>
							The Cooperage
							<br /> 5 Copper Row
							<br /> London <br /> SE1 2LH
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div
		style={{
			zIndex: -1,
			position: "fixed",
			top: 0,
			left: 0,
			bottom: 0,
			right: 0,
		}}
	>
		<WireframedWebsites client:only />
	</div>
</div>
