---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.astro";
import TextAndImage from "../components/TextAndImage.astro";
import TextEditor from "../components/TextEditor.tsx";
---

<Layout title="Welcome to Astro.">
	<main>
		<TextEditor client:load />
		<TextAndImage />
		<FAQ />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
</style>
