<div>
    /day1/Day1Workshop.pdf
    <object data="/day1/Day1Workshop.pdf" type="application/pdf" width="500">
        <iframe src="/day1/Day1Workshop.pdf" width="500" height="678">
            <p>This browser does not support PDF!</p>
        </iframe>
    </object>
</div>
