---
const { title, content, imageURL } = Astro.props;
---

<div class="flex flex-wrap md:flex-nowrap space-x-0 md:space-x-6 mb-6 md:mb-0">
  <div class="w-full md:w-1/2">
    <img
      class="w-full h-64 md:h-auto md:w-full object-cover rounded-lg"
      src={imageURL}
      alt={title}
    />
  </div>
  <div class="w-full md:w-1/2 mt-4 md:mt-0">
    <h2 class="text-2xl font-bold mb-2">{title}</h2>
    <!-- Replace with your title -->
    <p class="text-gray-700 mb-4">
      {content}
      <!-- Replace with your content -->
    </p>
  </div>
</div>
