---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";
import Sectionhead from "../../components/sectionhead.astro";
import CodeSandbox from "../../components/CodeSandbox.astro";
---

<Layout title="Kanban">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Kanban</Fragment>
            <Fragment slot="desc">Keeping track of your progress</Fragment>
        </Sectionhead>
    </Container>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 space-x-3">
        hello world
    </div>
    <CodeSandbox basic sandbox="magical-cookies-73sycs" />
</Layout>
